page-store-create {

}



.store-create-image{
  height:90px;
  width:90px;
  margin-right: 10px;
  position: relative
}

.image-delete-button{
  position : absolute;
  width: 15px;
  height: 15px;
  right: 6px;
  top: 6px;
}
