product-card{
  width:100%;
}

.product-card {
  height:222px;
  width:100%;
  padding: 15px;
  position : relative;
}


.main-product-image{
  border-radius : 6px;
  height: 135px;
  width: 50%;
}


.main-product-info{
  width: 50%;
}
