page-buyer-main {

}

.image-size{

  width:100px;
  height:100px;
  background: white;
  align-items: center;


}

.col{
  background: white;
  border: dashed gray;
}

//.line {
//
//  //vertical-align: middle;
//  horiz-align: center;
//}

.pin-size{

  height: 69px;
  padding-right: 15.4px;
  padding-left: 19px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  width: 45.8px;
  padding-left: 60.4px;
  padding-right: 42.4px;

}

.address-finder{
  margin-top:10px;
  margin-right: 5px;
  padding-left : 5px;
  padding-right: 5px;
  width:100%;
  @extend .Body01;
}

.gps-button{
  margin-top:5px;
}
