page-store-list {

}


.store-list-card{
  @extend .flex-area-row;
  margin-top: 10px;
  margin-bottom: 10px;
}

.store-list-info{
  @extend .flex-area-row-space-between;
}

.store-list-info-detail{
  width:100%;
  padding: 10px;
}
