page-create-review {

}

.review-container {
  .scroll-content {
    padding-top: 40px !important;
  }
}
  .review_box{
   // @extend .flex-area-row;
    height: 200px;
    width: 100%;
    padding: 5px 0px;
    background-color: $Grey01;
  }

  .title_Input{
  //@extend .Grey06;
  @extend .Body01;
  width: 175px;
  height: 20px;
  margin: 9px 0px;
  display: flex;
  align-items: center;
}

  .rating {
    .ion-icon {
    color: gray;

    &.filled {
      color: #ffb400;
    }
  }
}

