<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>{{getNickname()}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!--판매자메뉴-->
    <ion-list *ngIf="getLevel()==2" >
      <button (click)="goToPage('sellerMain')"  ion-item >
        메인
      </button>
      <button  ion-item >
        회원정보수정
      </button>
      <button (click)="goToPage('sell-record')" ion-item >
        판매이력조회
      </button>
      <button (click)="logout()" ion-item >
        로그아웃
      </button>
      <button (click)="leave()" ion-item >
        회원탈퇴
      </button>
    </ion-list>
    <!--구매자메뉴-->
    <ion-list *ngIf="getLevel()==1">
      <button (click)="goToPage('buyerMain')" ion-item >
        메인
      </button>
      <button (click)="goToPage('cart')" ion-item >
        장바구니
      </button>
      <button (click)="goToPage('book-mark')" ion-item >
        즐겨찾기
      </button>
      <button (click)="goToPage('buyer-info')" ion-item >
        회원정보수정
      </button>
      <button (click)="goToPage('order-record')" ion-item >
        구매이력조회
      </button>
      <button (click)="logout()" ion-item >
        로그아웃
      </button>
      <button (click)="leave()" ion-item >
        회원탈퇴
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
