<!--
  Generated template for the StoremainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <div class="flex-area-row-space-between">
      <img (click)="goToPage('mypage')" class="back" width="25px" height="25px" src="assets/icon/icon_mypage_grey_05.png">
      <!--<img (click)="goToPage('qr-read')" class="confirm" width="25px" height="25px" src="assets/icon/icon_qrscan_grey_05.png">-->
    </div>
  </ion-toolbar>
</ion-header>
<ion-content style="background: none transparent;" class="main-container">

  <div  class="store-create-area" (click)="goToPage('store-create')">
    <div class="store-create-button">
      상점추가
    </div>
  </div>
  <div (click)="goToPage('store-detail', userStore?._id)" class="store-info-card">
    <div class="in-card">
      <div class="Green01 Body04">
        {{userStore?.title}}
      </div>

      <div class="store-info flex-content-col">
        <img width="24px" height="24px" src="assets/icon/icon_time_gold.png">
        <div class="Grey06 Body01">
          {{userStore?.operatingHour}}
        </div>
      </div>

      <div class="store-info flex-content-col">
        <img width="24px" height="24px" src="assets/icon/icon_call_gold.png">
        <div class="Grey06 Body01">
          {{userStore?.tel}}
        </div>

      </div>
    </div>
  </div>
  <div class="product-card-area">
    <product-card
      (click)="goToPage('product-modify', product._id)"
      *ngFor="let product of products"
      [product]="product"></product-card>
  </div>


  <img ion-fixed="true" *ngIf="userStore!=undefined" (click)="goToPage('product-create')" class="add-circle" src="assets/icon/icon_add.png">
</ion-content>
