<!--
  Generated template for the StoremainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <div class="flex-area-row">
      <img class="back" (click)="back()" height="25px" src="assets/icon/icon_back_grey_05.png">
      <div class="store-toolbar-title">마이페이지</div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div  (click)="goToPage('order-record')"class="content-box-underline">메인</div><br>
  <div class="content-box-underline">장바구니</div>
  <div  class="content-box-underline">판매이력 조회</div><br>
  <div  (click)="goToPage('order-record')"class="content-box-underline">구매이력 조회</div><br>
  <div class="content-box-underline">회원정보 수정</div>
  <div (click)="logout()" class="content-box-underline">로그아웃</div>
  <div (click)="leave()" style="text-align:right;" class="delete">회원탈퇴</div>

</ion-content>
