
<ion-header>

  <ion-navbar>

  </ion-navbar>
</ion-header>
<ion-content class="signup-container" padding>
  <form name="userForm" [formGroup]="userForm">
    <!--{{this.allowStep}}-->
    <div class="input_box {{idStatus}}">
      <img height="24px" width="24px" src="assets/icon/icon_id_grey_03.png">
      <input (keyup)="checkId()" (blur)="blur('id')" (focus)="onfocus('id')" type="text" formControlName="id" class="Icon_Text_input" placeholder="아이디">
    </div>
    <br>
    <div class="input_box {{nickNameStatus}}">
      <img height="24px" width="24px" src="assets/icon/icon_id_grey_03.png">
      <input (keyup)="checkId()" (blur)="blur('nickName')" (focus)="onfocus('nickName')" type="text" formControlName="nickName" class="Icon_Text_input" placeholder="닉네임">
    </div>

    <br>
    <div class="input_box {{passStatus}}">
      <img height="24px" width="24px" src="assets/icon/icon_passward_grey_03.png">
      <input (keyup)="checkPass()" (blur)="blur('pass')" (focus)="onfocus('pass')" type="password" formControlName="pass" class="Icon_Text_input" placeholder="비밀번호">
    </div>
    <span class="error-text" *ngIf="userFormErrors.pass.minlength" >
      비밀번호는 6글자 이상 입력해주세요
    </span>
    <span class="error-text" *ngIf="userFormErrors.pass.required" >
      비밀번호를 입력해주세요
    </span>
    <br>
    <div class="input_box {{confirmPassStatus}}">
      <img height="24px" width="24px" src="assets/icon/icon_passward_grey_03.png">
      <input (keyup)="checkConfirmPass()" (blur)="blur('confirmPass')" (focus)="onfocus('confirmPass')" type="password" formControlName="confirmPass" class="Icon_Text_input" placeholder="비밀번호 확인">
    </div>
    <div class="error-text" *ngIf="userForm.hasError('mismatchedPasswords')" >
      비밀번호가 일치하지 않습니다
    </div>
    <span class="error-text" *ngIf="userFormErrors.confirmPass.required" >
    비밀번호를 다시 한번 입력해주세요
    </span>
    <br>
    <div class="input_box {{phoneStatus}}">
      <img height="24px" width="24px" src="assets/icon/icon_phone_grey_03.png">
      <input (blur)="blur('phone')" (focus)="onfocus('phone')" type="text" formControlName="email" class="Icon_Text_input" placeholder="이메일">
      <button class="auth-button" (click)="sendAuthCode()" [disabled]="allowStep === 2">
        <div  class="auth-button-content">인증번호 전송</div>
      </button>
    </div>
    <span *ngIf="!userFormErrors.email.valid">
      <span class="error-text" *ngIf="userFormErrors.email.email" >
        이메일 형식에 맞지 않습니다
      </span>
      <span class="error-text" *ngIf="userFormErrors.email.required" >
        <br>
        이메일을 입력해주세요
      </span>
    </span>
    <br>
    <div *ngIf="this.allowStep!=1" class="input_box {{authStatus}}">
      <input (blur)="blur('auth')" (focus)="onfocus('auth')" type="text" formControlName="code" class="Icon_Text_input" placeholder="인증번호">
    </div>
    <br>
    <button (click)="authencateAndSignup()" class="line-button Green01 Body02 ">가입</button>
    <div class="Body01 Grey07 signup-text">이미 계정이 있으신가요?&nbsp;&nbsp; <span (click)="goToPage('login')">로그인</span></div>


  </form>
</ion-content>
