page-product-create {

}

.disable-input{
  background-color: $Grey04;
}


.promotion-input{
  padding: 28px 0px 8px 0px;
  .range-slider{
    .range-bar{
      background: $Grey03;
    }
    .range-bar-active{
      background: $Primary !important;
    }

    .range-knob-handle{
      will-change: left;
      top: -9px;
      height: 51px;

      .range-pin{
        @extend .Body02;
        @extend .Grey01;
        top: 6px;
        left: 4px;
        z-index: 10;
        background: transparent;
        transform: translate3d(0, 0, 0) scale(1) !important;
        &:after{
          @extend .Caption01;
          content: '%';
        }
      }
      .range-knob{
        background-image:url("../../../../assets/icon/discount_rate.png") !important;
        outline: none !important;
        border: none !important;
        background-size:cover;
        background-color: transparent;
        width:88px;
        height:85px;
        left: -19px;
        top: -20px;
      }
    }
  }
}
