<!--
  Generated template for the StoremainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <div class="flex-area-row-space-between">
      <div class="back" (click)="back()">취소</div>
      <div class="confirm" (click)="add()">추가</div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="Title_Input">
    상품사진<span class="Red Body04">&nbsp;*</span>
  </div>

  <div class="flex-area-row">
    <div *ngFor="let item of items; let i=index" class="store-create-image">
      <label for="file-input{{i}}">
        <img class="store-create-image"  *ngIf="product.images[i]==null" src="assets/imgs/picture_add_button.PNG"/>
        <img class="store-create-image" *ngIf="product.images[i]!=null">
      </label>
      <input id="file-input{{i}}" (change)="imageUpload($event,i)" hidden type="file"/>
      <img *ngIf="product.images[i]!=null" (click)="imageDelete(i)" class="image-delete-button" src="assets/imgs/image-delete-button.png"/>
    </div>
  </div>
  <br style="line-height: 16px;">
  <div class="Title_Input">
    상품명<span class="Red Body04">&nbsp;*</span>
  </div>
  <input [(ngModel)]="product.prodName" class="input_box">
  <br style="line-height: 16px;">

  <div class="flex-area-row-space-between">
    <div class="semi-content-area">
      <div class="Title_Input">
        정상가격<span class="Red Body04">&nbsp;*</span>
      </div>
      <div class="flex-area-row" style="position:relative">
        <input [(ngModel)]="product.originalPrice" type="number" class="number_input_box">
        <div style="position: absolute; right:10%; top:25%; ">원</div>
      </div>
    </div>
    <div class="semi-content-area">
      <div class="Title_Input">
        할인가격
        <span class="Red Body04">&nbsp;*</span>
      </div>

      <div class="flex-area-row disable-input" style="position:relative">
        <input [(ngModel)]="product.salePrice" (change)="discountPriceChanged(product.salePrice)"  type=number maxlength="7" type="number" class="input_box">
        <div style="position: absolute; right:10%; top:25%; ">원</div>
      </div>
    </div>
  </div>
  <br style="line-height: 16px;">
  <div class="Title_Input">
    할인율
    <span class="Red Body04">&nbsp;*</span>
  </div>
  <br>
  <ion-range class="promotion-input" [(ngModel)]="product.discountRate" (ionChange)="discountRateChanged($event.value)" style="padding:0px;" min="0" max="100" color="secondary" pin="true">
  </ion-range>
  <br style="line-height: 16px;">

  <div class="Title_Input">
    수량
    <span class="Red Body04">&nbsp;*</span>
  </div>
  <div class="flex-area-row-center content-box" style="background-color: white">
    <img (click)="removeButtonClicked()" style="width:25px; height: 25px;" src="assets/icon/icon_minus_grey_04.png">
    <input class="quantity-input"[(ngModel)]="product.stock">
    <img (click)="addButtonClicked()" style="width:25px; height: 25px;" src="assets/icon/icon_plus_grey_04.png">
  </div>
  <br style="line-height: 16px;">
</ion-content>
