page-store-detail {

}


.store-image{
  img{
    width: 100%;
    height: 160px;

  }
}
.store-info-table{
  width:100%;
}
.store-info-table tr{
    height: 48px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.store-info-table tr td:last-child {
  text-align : right
}

.store-name{
  @extend .Subheading;
  @extend .Grey07;
  margin-top: 30px;
  margin-bottom: 20px;
}

.store-location-image{
  margin-top: 30px;
  width:100%;
  height: 168px;
}
