<!--
  Generated template for the StoremainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>

  </ion-navbar>
</ion-header>
<ion-content>
  <div>
    <ion-slides class="slides" >
      <!--ngFor 이용-->
      <ion-slide *ngFor="let image of userStore?.images">
        <img [src]="image">
      </ion-slide>

    </ion-slides>
  </div>

  <div class="store-name flex-area-row-space-between">
    <div class="Subheading Grey07">
      {{userStore?.title}}
    </div>
    <div class="flex-area-row">
      <img width="25px" height="25px" src="assets/imgs/star-icon.png">
      <div class="review-grade">
        {{userStore?.grade}}
      </div>
    </div>
  </div>


  <div class="content-box-underline flex-area-row-space-between">
    <div class="store-property-name">
      오픈시간
    </div>
    <div class="store-property-value">
      {{userStore?.operatingHour}}
    </div>
  </div>

  <div class="content-box-underline flex-area-row-space-between">
    <div class="store-property-name">
      연락처
    </div>
    <div class="store-property-value">
      {{userStore?.tel}}
    </div>
  </div>


  <div class="content-box-underline flex-area-row-space-between">
    <div class="store-property-name">
      주소
    </div>
    <div class="store-property-value">
      {{userStore?.address}}
    </div>
  </div>
  <br>

  <ion-segment [(ngModel)]="contents" (ngModelChange)="change(contents)"  color="primary" style="height:44px;">
    <ion-segment-button value="menu">
      메뉴
    </ion-segment-button>
    <ion-segment-button value="info">
      위치
    </ion-segment-button>
    <ion-segment-button value="review">
      리뷰
    </ion-segment-button>
  </ion-segment>


  <div [ngSwitch]="contents" >
    <div *ngSwitchCase="'menu'">
      <div class="product-card-area">
        <product-card2
          (click)="goToPage('product-detail', product)"
          *ngFor="let product of userStore?.products"
          [product]="product"></product-card2>
      </div>
    </div>
    <div *ngSwitchCase="'info'">
    </div>
    <div *ngSwitchCase="'review'">

      <div *ngFor="let review of userStore?.reviews; let i = index"  class="review-card">

        <div  class="review-header">

          <div class="review-buyer-Id">
            {{review.buyerId}}
          </div>

          <div *ngIf="getId()==review.buyerId" >
          <button (click)="goToReviewRevise(i,userStore.title,userStore.sellerId,userStore.reviews[i].content,userStore.reviews[i].reviewNum)" id="revise{{i}}" class="review-manage-button">
          수정
          </button>
          <button (click)="delete(i)" id="delete{{i}}" class="review-manage-button">
            삭제
          </button>
          <button (click)="showUpdatedItem(i)" id="complete{{i}}" class="review-manage-button"  style="display:none;">
            완료
          </button>
          </div>


          <img width="20px" height="20px" src="assets/imgs/star-icon.png">
          <div class="review-grade">
            {{review.rating}}
          </div>

        </div>
        <br>
        <!--<div class="input_box {{idStatus}}">-->
          <!--<img height="24px" width="24px" src="assets/icon/icon_id_grey_03.png">-->
          <!--<input (blur)="blur('id')" (focus)="onfocus('id')" formControlName="id" type="text" class="Icon_Text_input" placeholder="아이디">-->
        <!--</div>-->
        <div id = "content{{i}}"  class="input_box review-content">
          {{review.content}}
        </div>
          <div>
            <input id="revise_clicked{{i}}" style="display:none;" [(ngModel)]="myInput"  type="text"   class="Icon_Text_input">
          </div>
        </div>
      <!--<img id="review-add-button" ion-fixed="true"   class="add-circle" src="assets/icon/icon_add.png">-->

    </div>
    </div>

  <div id="map" class="store-location-image"></div>

  <img id="product-add-button" (click)="goToReviewCreate(userStore.title,userStore.sellerId)" ion-fixed="true" style="display:none;"  class="add-circle" src="assets/icon/icon_add.png">






</ion-content>
